<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Scribble Printer Interface</title>
	<script src="/javascripts/jquery-1.2.6.pack.js" type="text/javascript"></script>
	<script src="/javascripts/printer.js" type="text/javascript"></script>
	<link href="/stylesheets/printer.css" media="screen" rel="stylesheet" type="text/css" />	
</head>




<body>
	
	<%if params[:password] != "Robbert"%>

	<div align="center" style="margin-top:75px">
		<img src="/images/logo.png"><br>
		<input type="textfield" id="login_emaial" value="password" style="margin-top:10px; width:155px; color:#666" onfocus="if (this.value=='password') { this.value='' }" onblur="if (this.value=='') { this.value='password' }" onKeyPress="return submitentersplash(this.value,event)">

	</div>

	<%else%>
	<div id="content_center">
		<div style="position:absolute; top:5px ">
			<img src="/images/logo.png" height="67" width="169">
		</div>

		<div style="position:absolute; text-align:right; top:65px; width:700px"><a href="#" onclick="alert('Feature to be completed when there is a budget for it.')">Generate ZIP</a></div>
		
		<div class="topBar2">
			<div style="float:left">
				<a href="#" onclick="selectAllNone(this)">Select all</a> | <a onclick="MarkMailStatus(this,<%if params[:shipped] == '1'%>0<%else%>1<%end%>)" href="#"><%if params[:shipped] == '1'%>Mark as NOT mailed<%else%>Mark as mailed<%end%></a>
			</div>
			
			<div style="float:right">
				<select autocomplete="false" onchange="window.location.href= '/printer?password=Robbert&shipped='+this.value">
					<option value="0"  >Not mailed</option>
					<option value="1" <%if params[:shipped] == '1'%>selected<%end%>>Printed & Mailed</option>
				</select>
			</div>
		</div>
		
	

		<div id="group" style="clear:both; position:absolute; left:0px; top:135px; width:700px">
			<table id="tabletop" class="MembersTable" style="" cellspacing="0">
				
				<tr class="memberTitle">
					<td id="t_2" class="memberTitleTD" style="text-align:left;width:22px">&nbsp;</td>
					<td id="t_2" class="memberTitleTD" style="text-align:left;width:64px"><b>Job ID</b></td>
					<td class="memberTitleTDx" style="text-align:left; width:359px"><b>Card</b></td>
					<td class="memberTitleTDx" style="text-align:left; width:65px; background-color:#C5C5C5"><b>Created</b></td>
					<td class="memberTitleTDx" style="text-align:left; width:65px"><b># Copies</b></td>
					<td id="t_1" class="memberTitleTD" style="width:65px"><b>Files</b></td>
				</tr>
				
				<% i = 0%>
				<% for card in @cards%>
					<%i = i + 1%>
					<%even = i % 2 %>
					
					<tr id="row<%=card.id%>" class="memberTitle" <%if even == 0%>style="background-color:#F9F9F9"<%else%>style="background-color:#fff"<%end%>>

						<td class="memberTitleTD" style="text-align:left; padding-left:1px;">
							<input name="<%= card.id %>" id="<%= card.id %>" type="checkbox" autocomplete="false">
						</td>
						<td class="memberTitleTD" style="text-align:left;">
							<%=card.job_id%>
						</td>
						<td class="memberTitleTD" style="text-align:left;">
						<div style="float:left; width:70px; height:60px">
							<a target="_blank" href="/cards/<%=h card.id %>/original_<%=h card.photo %>"><img width="60" height="60" border="0" src="/cards/<%=h card.id %>/small_<%=h card.photo %>"></a>
						</div>
						<div style="float:left; font-size:10px; width:270px">
							<%=card.message%>
						</div>
						</td>
						<td class="memberTitleTD" style="text-align:left; background-color:#<%if even == 0%>E5E5E5<%else%>F0F0F0<%end%> ">
							<%= relative_date(card.created_at) %>
						</td>
						<td class="memberTitleTD" style="text-align:left; ">
							<% @addresses = Address.find(:all, :conditions=>"card_id = #{card.id}")%>
							<%= @addresses.length%>
						</td>
						<td class="memberTitleTD" style="text-align:left;">
							<img style="padding:2px" src="/images/file.png"><a target="_blank" href="/cards/<%=card.id %>/<%=card.job_id%>_file_1.pdf">Front</a><br>
							<img style="padding:2px" src="/images/file.png"><a target="_blank" href="/cards/<%=card.id %>/<%=card.job_id%>_file_2.pdf">Back</a><br>
							<img style="padding:2px" src="/images/file.png"><a target="_blank" href="/csv?id=<%=card.id %>">CVS</a><br>
						</td>
					</tr>
				<%end%>
				
				
			</table>
			<%= will_paginate @cards %>
			
				<div style="position:absolute; top:20px; left:530px"><img src="/images/arrow_down.gif"></div>
			<p>&nbsp;</p>
		</div>
	</div>
	<%end%>

<script>
$("#group INPUT[type='checkbox']").attr('checked', false);
</script>
</body>

</html>
